.login-pf {
  background: none;
}

.login-pf body {
  background: #fff3d4;
  font-family:
    playfair display,
    serif;
}

.login-pf-page {
  display: flex;
  justify-content: center;
}

.login-pf-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  padding: 0.6em;
  background-color: #ffe194;
  color: #ff8c69;
  width: 100%;
  height: 4.7em;
  position: absolute;
  top: 0;
  box-shadow: 0px 0px 20px -5px #7a5c45;
  z-index: 3000;
}

.login-pf-page-header div {
  font-size: 2.7em;
  font-weight: bold;
}

.login-pf-page-header img {
  width: 1.2em;
  height: 1.2em;
  margin-top: -0.25em;
  margin-left: 0.1em;
}

.card-pf {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 2em;
  background-color: white;
  border-radius: 15px;
  color: #3d2c1e;
  box-shadow: 0px 0px 20px -5px #7a5c45;
  pointer-events: all;
  max-height: 80vh;
  overflow: auto;
  scrollbar-color: transparent transparent;
}

@media (max-width: 500px) {
  .card-pf {
    min-width: 95vw;
  }
}

.login-pf-page .login-pf-header h1 {
  text-align: left;
}

.login-pf-header h1 {
  color: var(--espresso);
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-family:
    playfair display,
    serif;
  font-weight: bold;
}

.form-group {
  gap: 0.2em; /* kleiner Abstand zwischen label und input */
  font-family:
    DM Sans,
    sans-serif;
}

input.pf-c-form-control {
  flex: 1;
  background-color: white;
  font-size: small;
  color: #3d2c1e;
  padding: 0.5em;
  border: 1px solid #7a5c45;
  border-radius: 5px;
}

input:focus.pf-c-form-control {
  outline: none;
}

input:hover.pf-c-form-control {
  background-color: #f1f1f1;
}

.pf-c-button.pf-m-control {
  margin-left: 1em;
  border: none;
  box-shadow: none;
  --pf-c-button--after--BorderColor: white;
  padding: 0 0.1em;
}

a {
  color: #ff8c69;
  text-decoration: none;
}

.pf-c-button.pf-m-primary.pf-m-block.btn-lg {
  background-color: #ff8c69;
  color: #fff3d4;
  border: none;
  margin: 0;
  cursor: pointer;
  border-radius: 999px;
  font-size: small;
  box-shadow: 0px 0px 10px -4px #7a5c45;
}

.login-pf-page .login-pf-signup {
  margin: 20px 0 0 0;
}

span {
  font-size: small;
  font-family:
    DM Sans,
    sans-serif;
}

.subtitle {
  display: none;
}

.col-md-10 {
  width: 100%;
  padding: 0;
}

@media (max-width: 768px) {
  .login-pf-page .login-pf-header h1 {
    font-size: 24px;
  }
}
