#login.pf {
  background: #fff3d4;
}

.card-pf {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  padding: 2em;
  background-color: white;
  border-radius: 15px;
  color: #3d2c1e;
  box-shadow: 0px 0px 20px -5px var(--mokka);
  transform: translateX(0%);
  transition: transform 1s ease-in-out;
  pointer-events: all;
  scrollbar-color: transparent transparent;
}
