@import "ColorScheme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: var(--abendsonne);
  color: var(--espresso);
  font-family:
    playfair display,
    serif;
}

button {
  background-color: var(--terrakotta);
  color: var(--abendsonne);
  border: none;
  margin: 0;
  padding: 0.4em 1em;
  cursor: pointer;
  border-radius: 999px;
  font-size: small;
  box-shadow: 0px 0px 10px -4px var(--mokka);
}

button:hover {
  background-color: var(--kaminrot);
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.small-gap {
  gap: 1em;
}

.wide-gap {
  gap: 2em;
  margin-bottom: 1em;
}

.sans-serif {
  font-family:
    DM Sans,
    sans-serif;
}

.small {
  font-size: small;
}

.bottom {
  position: fixed;
  bottom: 2em;
}

h2 {
  color: var(--espresso);
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.white-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  padding: 2em;
  background-color: white;
  border-radius: 15px;
  color: var(--espresso);
  box-shadow: 0px 0px 20px -5px var(--mokka);
  transform: translateX(0%);
  transition: transform 1s ease-in-out;
  pointer-events: all;
}

.white-box.relative {
  position: sticky;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top {
  top: 4.5em;
}

.bottom {
  bottom: 1em;
}

.left {
  left: 1em;
}

.right {
  right: 1em;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  gap: 0.5em;
  margin-top: 1em;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: var(--espresso);
}

a:hover {
  color: var(--espresso);
}

.close-button {
  position: absolute;
  margin: 0;
  padding: 0;
  max-height: 1em;
  overflow: hidden;
  top: 0;
  right: 0.4em;
  cursor: pointer;
  font-size: 3em;
  color: #00000015;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background: none;
  border: none;
  box-shadow: none;
}

.close-button:hover {
  color: #00000008;
  background: none;
}

.white-box:hover .close-button {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

@media (max-width: 500px) {
  h2 {
    font-size: 1.4em;
  }
  .close-button {
    opacity: 1;
  }
}
