/* Farbschema */
:root {
  --abendsonne: #fff3d4;
  --buttergelb: #ffe194;
  --goldgelb: #ffcf6b;
  --pfirsichorange: #ffab5e;
  --terrakotta: #ff8c69;
  --kaminrot: #ec7652;
  --blassblau: #c9e3ec;
  --himmelsblau: #a8d8ea;
  --ozeanblau: #5baecb;
  --minzgrün: #b8e4c9;
  --waldgrün: #6dbf8a;
  --espresso: #3d2c1e;
  --mokka: #7a5c45;
  --latte: #c1a28b;
}

/* Routenfarben */
:root {
  --rot: #d54444;
  --orange: #f5a97f;
  --beige: #ffdfbd;
  --gelb: #ffcd2a;
  --grün: #a6d189;
  --mint: #81c8be;
  --türkis: #04a5e5;
  --blau: #2353ff;
  --lila: #8839ef;
  --pink: #f175ff;
  --schwarz: #232634;
  --grau: #bbbbbb;
  --weiß: #ffffff;
}
