/* Farbschema */
:root {
  --abendsonne: oklch(96.563% 0.04232 89.357);
  --buttergelb: oklch(91.772% 0.10122 89.028);
  --goldgelb: oklch(87.701% 0.12964 83.859);
  --pfirsichorange: oklch(80.874% 0.13554 61.414);
  --terrakotta: oklch(75.835% 0.148 37.684);
  --kaminrot: oklch(69.582% 0.15464 37.655);
  --blassblau: oklch(89.95% 0.03026 220.754);
  --himmelsblau: oklch(85.449% 0.05579 222.937);
  --ozeanblau: oklch(70.979% 0.09101 223.281);
  --minzgrün: oklch(88.033% 0.05884 158.098);
  --waldgrün: oklch(73.796% 0.11199 154.345);
  --espresso: oklch(30.89% 0.0344 60.483);
  --mokka: oklch(49.963% 0.05236 58.643);
  --latte: oklch(73.388% 0.04871 58.423);
}

/* Routenfarben */
:root {
  --rot: oklch(66.415% 0.18608 25.752);
  --orange: oklch(79.881% 0.106 49.61);
  --beige: oklch(92.168% 0.05692 68.693);
  --gelb: oklch(92.984% 0.16786 101.805);
  --grün: oklch(81.238% 0.10701 133.427);
  --mint: oklch(78.299% 0.07297 184.714);
  --türkis: oklch(68.203% 0.14489 235.408);
  --blau: oklch(58.009% 0.18128 268.404);
  --lila: oklch(56.474% 0.23335 298.136);
  --pink: oklch(75.627% 0.22315 323.459);
  --schwarz: oklch(27.2% 0.02642 275.118);
  --grau: oklch(79.208% 0.00009 271.152);
  --weiß: oklch(100% 0.00011 271.152);
}
