/* Farbschema */
:root {
  --abendsonne: #fff3d4;
  --buttergelb: #ffe194;
  --goldgelb: #ffcf6b;
  --pfirsichorange: #ffab5e;
  --terrakotta: #ff8c69;
  --kaminrot: #ec7652;
  --blassblau: #c9e3ec;
  --himmelsblau: #a8d8ea;
  --ozeanblau: #5baecb;
  --minzgrün: #b8e4c9;
  --waldgrün: #6dbf8a;
  --espresso: #3d2c1e;
  --mokka: #7a5c45;
}

/* Routenfarben */
:root {
  --rot: #d54444;
  --orange: #dc8a78;
  --gelb: #ffcd2a;
  --grün: #a6d189;
  --mint: #81c8be;
  --blau: #04a5e5;
  --lila: #8839ef;
  /* --zweifarbig: linear-gradient(90deg, #d54444 0%, #ff8c69 100%); */
}
