/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.speichern-knopfsi {
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5em;
}

.details-container {
  position: absolute;
  top: 4.5em;
  left: 1em;
  min-width: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1em;
  pointer-events: none;
}

.details-subcontainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu {
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  background-color: white;
  padding: 0.5em;
  width: 2em;
  max-height: 2em;
  aspect-ratio: 1/1;
  border-radius: 8px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 20px -6px var(--mokka);
  box-shadow: 0px 0px 20px -6px var(--mokka);
  font-size: 1em;
  color: var(--espresso);
  pointer-events: all;
}

.menu:hover {
  opacity: 0.7;
  background-color: white;
}

.white-box.hidden {
  -webkit-transform: translateX(-120%);
  -ms-transform: translateX(-120%);
  transform: translateX(-120%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition:
    transform 1s ease-in-out,
    -webkit-transform 1s ease-in-out;
}

.erklärung {
  position: absolute;
  margin-top: 1.2em;
  margin-right: 0.5em;
  font-family:
    DM Sans,
    sans-serif;
  font-size: small;
  color: var(--espresso);
  opacity: 0.7;
  text-align: right;
}

.canvas-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

line.axis {
  stroke: var(--espresso);
  stroke-width: 0.5px;
}

line.gitter {
  stroke: var(--espresso);
  stroke-width: 0.2px;
}

line.selected {
  stroke: var(--latte);
}

.wände-liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5em;
}

.wand-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0.3em;
  border-radius: 999px;
  background-color: var(--abendsonne);
  font-family:
    DM Sans,
    sans-serif;
  font-size: 0.9em;
}

.wand-item:hover,
.wand-item.selected {
  background-color: var(--buttergelb);
  cursor: pointer;
}

.wand-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5em;
}

.wand-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 0.5em;
  padding-right: 0.5em;
}

.flip-button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: var(--espresso);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.flip-button:hover {
  background-color: transparent;
  opacity: 0.7;
}

.mini-dot-indoor {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  margin: 0.5em;
  margin-right: 0.2em;
  background-color: var(--pfirsichorange);
  cursor: pointer;
}

.mini-dot-outdoor {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  margin: 0.5em;
  margin-right: 0.2em;
  background-color: var(--himmelsblau);
  cursor: pointer;
}

.wand-coords {
  margin-top: 0.2em;
  margin-right: 0.2em;
  font-size: small;
  color: var(--espresso);
}

@media (max-width: 500px) {
  .details-container {
    min-width: calc(100vw - 2em);
    max-width: calc(100vw - 2em);
  }
  .wand-coords {
    display: none;
  }
}
