.speichern-knopfsi {
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.details-container {
  position: absolute;
  top: 4.5em;
  left: 1em;
  min-width: 25em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  pointer-events: none;
}

.details-subcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu {
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  background-color: white;
  padding: 0.5em;
  width: 2em;
  max-height: 2em;
  aspect-ratio: 1/1;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0px 0px 20px -6px var(--mokka);
  font-size: 1em;
  color: var(--espresso);
  pointer-events: all;
}

.menu:hover {
  opacity: 0.7;
  background-color: white;
}

.close-button {
  position: absolute;
  margin: 0;
  padding: 0;
  max-height: 1em;
  overflow: hidden;
  top: 0;
  right: 0.4em;
  cursor: pointer;
  font-size: 3em;
  color: #00000015;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background: none;
  border: none;
  box-shadow: none;
}

.close-button:hover {
  color: #00000008;
  background: none;
}

.white-box:hover .close-button {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.white-box.hidden {
  transform: translateX(-120%);
  transition: transform 1s ease-in-out;
}

.erklärung {
  position: absolute;
  margin-top: 1.2em;
  margin-right: 0.5em;
  font-family:
    DM Sans,
    sans-serif;
  font-size: small;
  color: var(--espresso);
  opacity: 0.7;
  text-align: right;
}

.canvas-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

line.axis {
  stroke: var(--espresso);
  stroke-width: 0.5px;
}

line.gitter {
  stroke: var(--espresso);
  stroke-width: 0.2px;
}

line.selected {
  stroke: var(--latte);
}

.wände-liste {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.wand-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.3em;
  border-radius: 999px;
  background-color: var(--abendsonne);
  font-family:
    DM Sans,
    sans-serif;
  font-size: 0.9em;
}

.wand-item:hover,
.wand-item.selected {
  background-color: var(--buttergelb);
  cursor: pointer;
}

.wand-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.wand-right {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding-right: 0.5em;
}

.flip-button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: var(--espresso);
  box-shadow: none;
}

.flip-button:hover {
  background-color: transparent;
  opacity: 0.7;
}

.mini-dot-indoor {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  margin: 0.5em;
  margin-right: 0.2em;
  background-color: var(--pfirsichorange);
  cursor: pointer;
}

.mini-dot-outdoor {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  margin: 0.5em;
  margin-right: 0.2em;
  background-color: var(--himmelsblau);
  cursor: pointer;
}

.wand-coords {
  margin-top: 0.2em;
  margin-right: 0.2em;
  font-size: small;
  color: var(--espresso);
}

@media (max-width: 500px) {
  .close-button {
    opacity: 1;
  }
  .details-container {
    min-width: 90vw;
  }
}
