form {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1em;
}

.hallensuche {
  min-width: 30em;
}

.hallensuche input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: white;
  color: var(--espresso);
  padding: 0.5em;
  border: 1px solid var(--mokka);
  border-radius: 5px;
}

.neue-halle-box input {
  background-color: white;
  color: var(--espresso);
  padding: 0.5em;
  border: 1px solid var(--mokka);
  border-radius: 5px;
}

input:focus {
  outline: none;
}

input:hover {
  background-color: #f1f1f1;
}

input:user-invalid {
  border-color: var(--terrakotta);
}

.error-message {
  color: var(--terrakotta);
  display: none;
}

input:user-invalid ~ .error-message {
  font-family:
    DM Sans,
    sans-serif;
  font-size: small;
  display: block;
}

label {
  font-family:
    DM Sans,
    sans-serif;
  font-size: small;
  margin: 0;
  display: block;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.2em; /* kleiner Abstand zwischen label und input */
}

.routen-details input {
  background-color: white;
  color: var(--espresso);
  padding: 0.5em;
  border: 1px solid var(--mokka);
  border-radius: 5px;
}

.checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 0.5em;
}

.checkbox-container label {
  margin-right: 1em;
}

[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
}

.routen-details textarea {
  background-color: white;
  color: var(--espresso);
  padding: 0.5em;
  border: 1px solid var(--mokka);
  border-radius: 5px;
  resize: none;
  font-family:
    DM Sans,
    sans-serif;
  font-size: small;
}

.routen-details select {
  background-color: white;
  color: var(--espresso);
  padding: 0.3em;
  border: 1px solid var(--mokka);
  border-radius: 5px;
}

@media (max-width: 500px) {
  .hallensuche {
    min-width: 95vw;
  }
}
