@import "../styles/ColorScheme.css";

header {
  display: flex;
  justify-content: space-between; /* Wir wollen Platz zwischen heading und button */
  gap: 1em;
  padding: 0.6em;
  background-color: var(--buttergelb);
  color: var(--terrakotta);
  width: 100%;
  height: 3.5em;
  position: absolute;
  top: 0;
  box-shadow: 0px 0px 20px -5px var(--mokka);
}

header h1 {
  font-size: 2em;
  font-weight: bold;
  /* margin-left: 0.5em; */
}

.left-part {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.right-part {
  font-family:
    DM Sans,
    sans-serif;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.profile-button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.right-part img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: block;
}

.profile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 0.5em;
  top: 4.5em;
  right: 1em;
  /* padding: 0.7em; */
  /* background-color: white; */
  /* border-radius: 15px; */
  /* box-shadow: 0px 0px 20px -5px var(--mokka); */
}
