.speichern-knopfsi {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.halle-menu {
  position: absolute;
  top: 4.8em;
  left: 1.3em;
  background-color: white;
  padding: 0.5em;
  width: 2em;
  max-height: 2em;
  aspect-ratio: 1/1;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0px 0px 20px -6px var(--mokka);
  font-size: 1em;
  color: var(--espresso);
}

.halle-menu:hover {
  opacity: 0.7;
  background-color: white;
}

.close-button {
  position: absolute;
  margin: 0;
  padding: 0;
  max-height: 1em;
  overflow: hidden;
  top: 0;
  right: 0.4em;
  cursor: pointer;
  font-size: 3em;
  color: #00000015;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background: none;
  border: none;
  box-shadow: none;
}

.close-button:hover {
  color: #00000008;
  background: none;
}

.white-box:hover .close-button {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.white-box.hidden {
  transform: translateX(-120%);
  transition: transform 1s ease-in-out;
}

.erklärung {
  position: absolute;
  margin-top: 1.2em;
  margin-right: 0.5em;
  font-family:
    DM Sans,
    sans-serif;
  font-size: small;
  color: var(--espresso);
  opacity: 0.7;
  text-align: right;
}

.canvas-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

line.axis {
  stroke: var(--espresso);
  stroke-width: 0.5px;
}

line.gitter {
  stroke: var(--espresso);
  stroke-width: 0.2px;
}
