.routenkarte-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu.map {
  top: 4.8em;
  left: 1.3em;
}

.infobox-container {
  position: absolute;
  display: flex;
}

.knopfsis-container {
  position: absolute;
  bottom: 1em;
  left: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7em;
  z-index: 1000;
}

.knopfsis-container button {
  height: 2.5rem;
  aspect-ratio: 1 / 1;
  font-size: 2em;
  font-weight: bold;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blassblau);
  color: var(--ozeanblau);
  border: 2px solid var(--ozeanblau);
  border-radius: 10px;
  cursor: pointer;
}

.knopfsis-container button:hover {
  background-color: var(--himmelsblau);
}

.knopfsis-container p {
  font-size: 1.2em;
  color: var(--ozeanblau);
}

line {
  stroke: var(--mokka);
  stroke-width: 7;
  stroke-linecap: round;
}

circle {
  color: var(--espresso);
  box-shadow: 0px 0px 10px -5px var(--mokka);
  filter: drop-shadow(0px 0px 5px #7a5c4550);
  /* mokka aber mit Transparenz weil drop shadow komisch ist */
}

.routenkarte-container:hover > g > circle {
  fill: var(--blassblau);
}

.routenkarte-container:hover > g > line {
  stroke: var(--espresso);
}

.wand-infobox {
  display: flex;
  flex-direction: column;
  min-width: 20em;
  width: max-content;
  margin: 2em;
  padding: 2em;
  background-color: white;
  border-radius: 15px;
  color: var(--espresso);
  box-shadow: 0px 0px 20px -5px var(--mokka);
  pointer-events: auto;
}

.wand-infobox-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.position-tag {
  display: inline-block;
  padding: 0.2em 0.7em;
  margin: 0.2em;
  color: var(--espresso);
  border-radius: 999px;
  font-size: small;
  font-family:
    DM Sans,
    sans-serif;
}

.routen-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 1em;
}

.routen-ergebnis-feld {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family:
    DM Sans,
    sans-serif;
  font-size: 0.9em;
  align-items: center;
  background-color: var(--abendsonne);
  color: var(--espresso);
  padding: 0.3em;
  border-radius: 999px;
  box-shadow: none;
  width: 100%;
}

.routen-ergebnis-feld:hover {
  background-color: var(--buttergelb);
}

.routen-ergebnis-feld .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.routen-ergebnis-feld .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1em;
}

.mini-dot-colour {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0.5em;
  margin-left: 0.7em;
  margin-right: 1em;
}

.hinzufügen {
  margin-top: 1em;
  margin-bottom: -0.5em;
  font-size: 1em;
  cursor: pointer;
  font-size: small;
  font-family:
    DM Sans,
    sans-serif;
  width: fit-content;
}

.route-hinzufügen:hover {
  color: var(--ozeanblau);
}

@media (max-width: 500px) {
  .infobox-container.left {
    left: 0.5em;
  }
  .hallen-info-box {
    max-width: calc(100vw - 2em);
    overflow-wrap: break-word;
  }
  .close-button {
    opacity: 1;
  }
  .routen-details {
    min-width: calc(100vw - 2em);
    max-width: calc(100vw - 2em);
  }
}
