/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.routen-details {
  width: 20em;
  overflow: auto;
  z-index: 1000;
}

.routen-details-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
}

.routen-details-schwierigkeit {
  /* margin-top: -1em; */
  padding: 0;
  font-size: 2.4em;
  font-weight: bold;
  color: var(--espresso);
}

.tag-colour {
  display: inline-block;
  padding: 0.2em 0.7em;
  margin-bottom: 1em;
  border-radius: 999px;
  font-size: small;
  font-family:
    DM Sans,
    sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

img.geschafft-haken {
  width: 1.5em;
  height: 1.5em;
}

.routen-details b {
  display: block;
  margin-top: 1em;
}

.routen-details p {
  font-family:
    DM Sans,
    sans-serif;
}

.routen-details .small {
  font-size: 0.9em;
}

.routen-details .close-button {
  display: none;
}

.routen-details-badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 0.5em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

b {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--espresso);
  margin-top: 1.5em;
}

.favorit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--goldgelb);
}

.favorit:hover {
  background-color: var(--goldgelb);
  -webkit-box-shadow: 0px 0px 10px 2px var(--goldgelb);
  box-shadow: 0px 0px 10px 2px var(--goldgelb);
}

.favorit.active {
  -webkit-box-shadow: 0px 0px 10px 5px var(--goldgelb);
  box-shadow: 0px 0px 10px 5px var(--goldgelb);
}

.projekt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--pfirsichorange);
  margin-right: 1.5em;
}

.projekt:hover {
  background-color: var(--pfirsichorange);
  -webkit-box-shadow: 0px 0px 10px 2px var(--pfirsichorange);
  box-shadow: 0px 0px 10px 2px var(--pfirsichorange);
}

.projekt.active {
  -webkit-box-shadow: 0px 0px 10px 5px var(--pfirsichorange);
  box-shadow: 0px 0px 10px 5px var(--pfirsichorange);
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 1em;
  max-width: 1em;
  aspect-ratio: 1/1;
}

.icon-wrapper img {
  width: 100%;
  aspect-ratio: 1/1;
}

.kommentar-name {
  margin-top: 0.4em;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--ozeanblau);
}

.kommentar-text {
  font-size: 0.9em;
  color: gray;
}

.bearbeiten {
  font-size: 0.8em;
  color: var(--espresso);
  margin-top: 0.1em;
  cursor: pointer;
}

@media (max-width: 500px) {
  .routen-details-header {
    margin-top: 0;
  }
  .routen-details .close-button {
    display: block;
  }
}
