.routen-details {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4.5em;
  right: 1em;
  bottom: 1em;
  margin: 0;
  padding: 2em;
  width: 20em;
  background-color: white;
  border-radius: 15px;
  color: var(--espresso);
  box-shadow: 0px 0px 20px -5px var(--mokka);
}

.routen-details-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  margin-top: -0.5em;
}

.routen-details-schwierigkeit {
  /* margin-top: -1em; */
  padding: 0;
  font-size: 2.4em;
  font-weight: bold;
  color: var(--espresso);
}

.tag-colour {
  display: inline-block;
  padding: 0.2em 0.7em;
  margin-bottom: 1em;
  /* border: 1px solid var(--espresso); */
  border-radius: 999px;
  font-size: small;
  font-family:
    DM Sans,
    sans-serif;
  width: fit-content;
}

.routen-details b {
  margin-top: 1em;
}

.routen-details p {
  font-family:
    DM Sans,
    sans-serif;
}

.routen-details .small {
  font-size: 0.9em;
}

.routen-details-badges {
  display: flex;
  gap: 0.5em;
  margin-top: 1em;
}
